.btn-container button {
    border-radius: 4px;
    width: 264.14px;
    height: 47px; 
}

.btn-primary p {
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}


@media(min-width:576px){
    .btn-container button {
        width: 384px;
        height: 65.62px; 
    }
    .btn-primary p {
        padding-top: 18px;
        padding-bottom: 17px;
        }
}