.main-nav {
    height: 68px;
}

.nav-logo-text {
    text-decoration: none;
    width: 112px;
    height: 33px;
    left: 18px;
    top: 18px;
}

.nav-logo-text h4 {
    
    color: #000000;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    
}

.nav-logo-text h4:hover, h4:link {
    color: #000000;
    text-decoration: none;
    
}

.nav-login-logout {
    background: #FFC700;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 4px 8px 4px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.nav-login-logout a {
    width: 85.44px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    
    text-align: center;
    letter-spacing: -0.015em;
    text-decoration: none;
    color: #000000;
}
